html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: white;
}

.container {
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 720px;
  margin: 32px auto;
  padding: 32px;
  background: #f0f0f0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#input {
  width: 100%;
  display: block;
  padding: 8px;
  background: white;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: ew-resize;
  user-select: none;
}